In [ ]:
#!pip install unidecode

In [ ]:
#!pip install ftfy

In [292]:
import pandas as pd
import numpy as np
import csv
from unidecode import unidecode
import json
from ftfy import fix_text

In [293]:
#texto_limpio = fix_text('./centros_cm.csv')

In [294]:
#texto_limpio

In [295]:
df = pd.read_csv('./centros2.csv', delimiter=';', encoding='utf-8')
#df = pd.read_csv('./centros_educativos_CM.csv', delimiter=';', encoding='utf-8')
#iconv -f ISO-8859-1 -t UTF-8 input.csv -o output.csv

In [296]:
df.head(9)

,municipio_codigo,distrito_nombre,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,...,municipio_nombre,distrito_codigo,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1
0,2,NaN,Víctor Hurtado,"COLEGIO DE EDUCACIÓN INFANTIL, PRIMARIA Y SECU...",3,28864.0,PÚBLICO,NaN,NaN,CP INF-PRI-SEC,...,Ajalvir,NaN,918844211,4487797.0,COMUNIDAD DE MADRID,458832.0,CALLE,SAN BLAS,NaN,cp.sanblas.ajalvir@educa.madrid.org
1,4,NaN,del Río Alagón,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,2,28607.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,"Álamo, El",NaN,918122834,4453703.0,COMUNIDAD DE MADRID,415961.0,CALLE,EL ALAMO,NaN,cp.elalamo.elalamo@educa.madrid.org
2,5,NaN,San Ignacio de Loyola,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28806.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918882368,4482313.0,COMUNIDAD DE MADRID,468386.0,CALLE,ANTONIO DE NEBRIJA,NaN,cp.antoniodenebrija.alcala@educa.madrid.org
3,5,NaN,San Juan,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28801.0,PÚBLICO,615303251,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918837578,4481259.0,COMUNIDAD DE MADRID,468658.0,CALLE,CARDENAL CISNEROS,NaN,cp.cardenalcisnero.alcala@educa.madrid.org
4,5,NaN,Giner de los Ríos,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28800.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918816276,4481511.0,COMUNIDAD DE MADRID,469547.0,CALLE,CERVANTES,NaN,cp.cervantes.alcala@educa.madrid.org
5,5,NaN,Infantado,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28807.0,PÚBLICO,918829222,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918880958,4481956.0,COMUNIDAD DE MADRID,468826.0,CALLE,DAOIZ Y VELARDE,NaN,cp.daoizyvelarde.alcala@educa.madrid.org
6,5,NaN,Escritorios,"CENTRO PRIVADO DE EDUCACIÓN INFANTIL, PRIMARIA...",3,28801.0,PRIVADO CONCERTADO,918880073,NaN,CPR INF-PRI-SEC,...,Alcalá de Henares,NaN,918836927,4481221.0,RELIGIOSAS FILIPENSES,468895.0,CALLE,SAGRADO CORAZON DE JESUS,NaN,cc.scorazondejesus.alcala@educa.madrid.org
7,5,NaN,San Felipe Neri,CENTRO PRIVADO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28801.0,PRIVADO CONCERTADO,NaN,NaN,CPR INF-PRI,...,Alcalá de Henares,NaN,918881397,4481288.0,CONGREGACION DEL ORATORIO DE SAN FELIPE NERI,468721.0,CALLE,SAN FELIPE NERI,NaN,cc.sanfelipeneri.alcala@educa.madrid.org
8,5,NaN,Lope de Figueroa,"CENTRO PRIVADO DE EDUCACIÓN INFANTIL, PRIMARIA...",3,28804.0,PRIVADO CONCERTADO,918880356,NaN,CPR INF-PRI-SEC,...,Alcalá de Henares,NaN,918820850,4481495.0,ESCUELAS PIAS PROVINCIA BETANIA,470018.0,AVDA,ESCUELAS PIAS,NaN,cc.escuelaspias.alcala@educa.madrid.org

In [297]:
#NULOS 
#distrito_nombre > NO USAR, ELIMINADAS
#distrito_codigo > NO USAR, ELIMINADAS
#direccion_via_nombre (1) >ELIMINO FILA
direccion_via_tipo (7)
direccion_codigo_postal
contacto_telefono2
contacto_telefono3
contacto_telefono4
contacto_telefono1
direccion_numero
contacto_web
contacto_fax
direccion_coor_y (28)
direccion_coor_x (28)
contacto_email1

NameError: name 'direccion_via_tipo' is not defined

In [298]:
df = df.drop(columns=['distrito_nombre','distrito_codigo'])

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040 entries, 0 to 4039
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   direccion_via_nombre        4039 non-null   object
 2   centro_tipo_descripcion     4040 non-null   object
 3   dat_codigo                  4040 non-null   int64
 4   direccion_codigo_postal     4019 non-null   float64
 5   centro_titularidad          4040 non-null   object
 6   contacto_telefono2          1719 non-null   object
 7   contacto_telefono3          217 non-null    object
 8   centro_tipo_desc_abreviada  4040 non-null   object
 9   direccion_numero            3962 non-null   object
 10  contacto_telefono1          3788 non-null   object
 11  centro_codigo               4040 non-null   int64
 12  contacto_web                3252 non-null   object
 13  dat_nombre                  4040 non-null   object
 14  centro_tipo_codigo          4040 non-null   int64
 15  municipio_nombre            4040 non-null   object
 16  contacto_fax                2390 non-null   object
 17  direccion_coor_y            4022 non-null   float64
 18  centro_titular              4040 non-null   object
 19  direccion_coor_x            4022 non-null   float64
 20  direccion_via_tipo          4033 non-null   object
 21  centro_nombre               4040 non-null   object
 22  contacto_telefono4          51 non-null     object
 23  contacto_email1             3770 non-null   object
dtypes: float64(3), int64(4), object(17)
memory usage: 757.6+ KB

In [68]:
#En esta columna hay solo un valor nulo, lo elimino porque pertenece a un centro educativo en el extranjero.
df.dropna(subset=['direccion_via_nombre'], inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4039 entries, 0 to 4038
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4039 non-null   int64
 1   direccion_via_nombre        4039 non-null   object
 2   centro_tipo_descripcion     4039 non-null   object
 3   dat_codigo                  4039 non-null   int64
 4   direccion_codigo_postal     4019 non-null   float64
 5   centro_titularidad          4039 non-null   object
 6   contacto_telefono2          1719 non-null   object
 7   contacto_telefono3          217 non-null    object
 8   centro_tipo_desc_abreviada  4039 non-null   object
 9   direccion_numero            3962 non-null   object
 10  contacto_telefono1          3788 non-null   object
 11  centro_codigo               4039 non-null   int64
 12  contacto_web                3252 non-null   object
 13  dat_nombre                  4039 non-null   object
 14  centro_tipo_codigo          4039 non-null   int64
 15  municipio_nombre            4039 non-null   object
 16  contacto_fax                2390 non-null   object
 17  direccion_coor_y            4022 non-null   float64
 18  centro_titular              4039 non-null   object
 19  direccion_coor_x            4022 non-null   float64
 20  direccion_via_tipo          4033 non-null   object
 21  centro_nombre               4039 non-null   object
 22  contacto_telefono4          51 non-null     object
 23  contacto_email1             3770 non-null   object
dtypes: float64(3), int64(4), object(17)
memory usage: 788.9+ KB

In [78]:
df['direccion_via_tipo'].value_counts()

CALLE    2915
AVDA      648
CTRA      110
PASEO     105
PLAZA     102
CMNO       69
RONDA      18
SECT       17
TRVA       10
GTA         8
URB         5
BULEV       4
PSAJE       4
CLLON       3
CUSTA       2
POLIG       2
CRA         2
VREDA       1
PRAJE       1
COL         1
LUGAR       1
SENDA       1
PQUE        1
PARCE       1
FINCA       1
DISEM       1
Name: direccion_via_tipo, dtype: int64

In [73]:
df[df['direccion_via_tipo'].isna()]

,municipio_codigo,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,direccion_numero,...,centro_tipo_codigo,municipio_nombre,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1
844,79,"CTRA. COLMENAR VIEJO, KM. 15",UNIVERSIDAD,5,28049.0,PÚBLICO,NaN,NaN,UNIVERSIDAD,NaN,...,401,Madrid,913974123,NaN,U. AUTONOMA DE MADRID,NaN,NaN,UNIVERSIDAD AUTONOMA DE MADRID,NaN,NaN
1422,65,"MADRID, 126-128",UNIVERSIDAD,2,28903.0,PÚBLICO,NaN,NaN,UNIVERSIDAD,NaN,...,401,Getafe,916249758,NaN,U. CARLOS III,NaN,NaN,UNIVERSIDAD CARLOS III,NaN,NaN
3708,79,"Ctra. Colmenar Viejo, Km 14,200",CENTRO AUTORIZADO DE ENSEÑANZAS DEPORTIVAS GRA...,5,NaN,PRIVADO,NaN,NaN,CAU ENS.DEP.G.M,NaN,...,221,Madrid,NaN,NaN,AVANZA ASESORIA Y ORGANIZACION DE FORMACION CO...,NaN,NaN,AVANZA ASESORIA Y ORGANIZACION DE FORMACION CO...,NaN,NaN
3729,59,Cañada de Barco Viejo,CENTRO AUTORIZADO DE ENSEÑANZAS DEPORTIVAS GRA...,1,28140.0,PRIVADO,681152364,609432224,CAU ENS.DEP.G.M,318,...,221,Fuente el Saz de Jarama,NaN,4498671.0,CRISTINA PASCUAL SANCHEZ,453657.0,NaN,CLUB AIRES DE JARAMA,NaN,hipicalosariesdejarama@gmail.com
3830,55,Carretera M-241,CENTRO PÚBLICO DE EDUCACIÓN ADULTOS ESTABLECIM...,3,28595.0,PÚBLICO,NaN,NaN,CEPA.EP,"km5,7",...,35,Estremera,NaN,4440403.0,COMUNIDAD DE MADRID,493529.0,NaN,MADRID VII ESTREMERA,NaN,cepa.madridvii.estremera@educa.madrid.org
4036,14,del Niño Jesús,EQUIPO DE ORIENTACIÓN EDUCATIVA Y PSICOPEDAGÓG...,3,28500.0,PÚBLICO,NaN,NaN,EOEP GENERAL,1,...,206,Arganda del Rey,NaN,NaN,COMUNDAD DE MADRID,NaN,NaN,EQUIPO GENERAL ARGANDA DEL REY,NaN,eoep.arganda@educa.madrid.org

In [81]:
#df[df['direccion_via_tipo'].isna().replace({'NaN':'CTRA','NaN':'CTRA','NaN':'CTRA','NaN':'CTRA','NaN':'CTRA', 'NaN':'CTRA', 'NaN':'AVDA'})
#modificar manualmente los nulos

In [92]:
#TABLAS DE DIMENSIONES

In [203]:
#DIMENSIÓN: tipo_centro
df_tipo_centro = df[['centro_tipo_codigo','centro_tipo_desc_abreviada','centro_tipo_descripcion' ]]
df_tipo_centro= df_tipo_centro.drop_duplicates().reset_index(drop=True)
df_tipo_centro.reset_index(level=0, inplace=True)
df_tipo_centro['index']+=1
df_tipo_centro=df_tipo_centro.rename(columns={'index':'id_tipo_centro'})
df_tipo_centro

,id_tipo_centro,centro_tipo_codigo,centro_tipo_desc_abreviada,centro_tipo_descripcion
0,1,70,CP INF-PRI-SEC,"COLEGIO DE EDUCACIÓN INFANTIL, PRIMARIA Y SECU..."
1,2,14,CP INF-PRI,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA
2,3,72,CPR INF-PRI-SEC,"CENTRO PRIVADO DE EDUCACIÓN INFANTIL, PRIMARIA..."
3,4,15,CPR INF-PRI,CENTRO PRIVADO DE EDUCACIÓN INFANTIL Y PRIMARIA
4,5,42,IES,INSTITUTO DE EDUCACIÓN SECUNDARIA
...,...,...,...,...
67,68,413,CFA,CENTRO DE FORMACIÓN AMBIENTAL
68,69,38,CET,CENTRO EDUCATIVO-TERAPÉUTICO
69,70,412,CTIF,CENTRO TERRITORIAL DE INNOVACIÓN Y FORMACIÓN
70,71,419,CFII,CENTRO DE FORMACIÓN PARA INTERCAMBIOS INTERNAC...
71,72,303,C. DOC. EN EXTRANJ.,CENTRO DOCENTE EN EL EXTRANJERO

In [ ]:
df3 = df.join(df_tipo_centro['id_tipo_centro'], on='centro_tipo_codigo', how='left', lsuffix='_left')
df3[["id_tipo_centro","id_tipo_centro_left"]]

In [104]:
#Reviso si hay duplicados en la columna
#df_tipo_centro.duplicated(subset=['centro_tipo_codigo'])

In [140]:
#contabilizo
df_tipo_centro['centro_tipo_codigo'].value_counts()

70     1
14     1
106    1
159    1
81     1
      ..
138    1
185    1
31     1
401    1
303    1
Name: centro_tipo_codigo, Length: 72, dtype: int64

In [170]:
#Mismo procedimiento dimensión anterior.
#En este caos no necesito un index porque centro_titularidad actua como tal
#DIMENSIÓN: TITULARIDAD
df_titularidad = df[['centro_titularidad']]
df_titularidad= df_titularidad.drop_duplicates()
df_titularidad= df_titularidad.reset_index(drop=True)
df_titularidad.reset_index(level=0, inplace=True)
df_titularidad['index']+=1
df_titularidad=df_titularidad.rename(columns={'index':'id_centro_titularidad'})

In [171]:
df_titularidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_centro_titularidad  4 non-null      int64
 1   centro_titularidad     4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [172]:
df_titularidad.head(8)

   id_centro_titularidad           centro_titularidad
0                      1                      PÚBLICO
1                      2           PRIVADO CONCERTADO
2                      3                      PRIVADO
3                      4  PÚBLICO-TITULARIDAD PRIVADA

In [287]:
#MERGE DEL CENTRO TITULAR CON EL ORIGINAL
#pendiente elimiar columna centro_titular del original
df_titularidad2= pd.merge(df, df_titularidad, on="centro_titularidad")
df_titularidad2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4040 entries, 0 to 4039
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   distrito_nombre             1703 non-null   object
 2   direccion_via_nombre        4039 non-null   object
 3   centro_tipo_descripcion     4040 non-null   object
 4   dat_codigo                  4040 non-null   int64
 5   direccion_codigo_postal     4019 non-null   float64
 6   centro_titularidad          4040 non-null   object
 7   contacto_telefono2          1719 non-null   object
 8   contacto_telefono3          217 non-null    object
 9   centro_tipo_desc_abreviada  4040 non-null   object
 10  direccion_numero            3962 non-null   object
 11  contacto_telefono1          3788 non-null   object
 12  centro_codigo               4040 non-null   int64
 13  contacto_web                3252 non-null   object
 14  dat_nombre                  4040 non-null   object
 15  centro_tipo_codigo          4040 non-null   int64
 16  id_tipo_centro              72 non-null     float64
 17  municipio_nombre            4040 non-null   object
 18  distrito_codigo             1703 non-null   float64
 19  contacto_fax                2390 non-null   object
 20  direccion_coor_y            4022 non-null   float64
 21  centro_titular              4040 non-null   object
 22  direccion_coor_x            4022 non-null   float64
 23  direccion_via_tipo          4033 non-null   object
 24  centro_nombre               4040 non-null   object
 25  contacto_telefono4          51 non-null     object
 26  contacto_email1             3770 non-null   object
 27  id_centro_titularidad       4040 non-null   int64
dtypes: float64(5), int64(5), object(18)
memory usage: 915.3+ KB

In [289]:
df_titularidad2.tail(4)

,municipio_codigo,distrito_nombre,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,...,distrito_codigo,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1,id_centro_titularidad
4036,79,Hortaleza,de Julián González Segador,ESCUELA INFANTIL,5,28043.0,PÚBLICO-TITULARIDAD PRIVADA,633087537,NaN,EEI,...,16.0,NaN,4479878.0,MINISTERIO DEL INTERIOR,445199.0,CALLE,ESCUELA INFANTIL DEL CUERPO NACIONAL DE POLICIA,NaN,NaN,4
4037,79,Chamartín,de la Castellana,ESCUELA INFANTIL,5,28046.0,PÚBLICO-TITULARIDAD PRIVADA,915835449,NaN,EEI,...,5.0,NaN,4478854.0,MINISTERIO DE INDUSTRIA Y MINISTERIO DE ECONOM...,441557.0,PASEO,ESCUELA DE EDUCACION INFANTIL DEL COMPLEJO CUZCO,NaN,belen_berz@hotmail.com,4
4038,79,Retiro,del Doctor Esquerdo,CENTRO PÚBLICO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28007.0,PÚBLICO-TITULARIDAD PRIVADA,NaN,NaN,CP FPE,...,3.0,NaN,4474477.0,SERVICIO MADRILEÑO DE SALUD,443166.0,CALLE,CENTRO DE FORMACIÓN TÉCNICO SANITARIA GREGORIO...,NaN,NaN,4
4039,79,Chamberí,de la Poeta Ángela Figuera,ESCUELA INFANTIL,5,28003.0,PÚBLICO-TITULARIDAD PRIVADA,915456567,654482513,EEI,...,7.0,NaN,4477394.0,MINISTERIO DE HACIENDA,439469.0,CALLE,ESCUELA INFANTIL DELEGACION DE ECONOMIA Y HACI...,NaN,DEHMadridGuarderia@igae.hacienda.gob.es,4

In [274]:
#DIMENSIÓN CENTRO_TITULAR
df_centro_titular= df[['centro_titular']]
df_centro_titular= df_centro_titular.drop_duplicates()
df_centro_titular= df_centro_titular.reset_index(drop=True)
df_centro_titular.reset_index(level=0, inplace=True)
df_centro_titular['index']+=1
df_centro_titular=df_centro_titular.rename(columns={'index':'id_centro_titular'})

In [181]:
df_centro_titular

      id_centro_titular                                     centro_titular
0                     1                                COMUNIDAD DE MADRID
1                     2                              RELIGIOSAS FILIPENSES
2                     3       CONGREGACION DEL ORATORIO DE SAN FELIPE NERI
3                     4                    ESCUELAS PIAS PROVINCIA BETANIA
4                     5                    FUNDACION EDUCACION Y EVANGELIO
...                 ...                                                ...
1634               1635                     CORPORACION VERTICE 1979, S.L.
1635               1636  CENTRO UNIVERSITARIO IES DE NEGOCIOS, INNOV. Y...
1636               1637                               SIXTH FORM XXI, S.L.
1637               1638                                 COMUNDAD DE MADRID
1638               1639         MINISTERIO DE EDUCACION, CULTURA Y DEPORTE

[1639 rows x 2 columns]

In [285]:
#MERGE DEL CENTRO TITULAR CON EL ORIGINAL
#pendiente elimiar columna centro_titular del original
df_ct2= pd.merge(df, df_centro_titular, on="centro_titular")
df_ct2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4040 entries, 0 to 4039
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   distrito_nombre             1703 non-null   object
 2   direccion_via_nombre        4039 non-null   object
 3   centro_tipo_descripcion     4040 non-null   object
 4   dat_codigo                  4040 non-null   int64
 5   direccion_codigo_postal     4019 non-null   float64
 6   centro_titularidad          4040 non-null   object
 7   contacto_telefono2          1719 non-null   object
 8   contacto_telefono3          217 non-null    object
 9   centro_tipo_desc_abreviada  4040 non-null   object
 10  direccion_numero            3962 non-null   object
 11  contacto_telefono1          3788 non-null   object
 12  centro_codigo               4040 non-null   int64
 13  contacto_web                3252 non-null   object
 14  dat_nombre                  4040 non-null   object
 15  centro_tipo_codigo          4040 non-null   int64
 16  id_tipo_centro              72 non-null     float64
 17  municipio_nombre            4040 non-null   object
 18  distrito_codigo             1703 non-null   float64
 19  contacto_fax                2390 non-null   object
 20  direccion_coor_y            4022 non-null   float64
 21  centro_titular              4040 non-null   object
 22  direccion_coor_x            4022 non-null   float64
 23  direccion_via_tipo          4033 non-null   object
 24  centro_nombre               4040 non-null   object
 25  contacto_telefono4          51 non-null     object
 26  contacto_email1             3770 non-null   object
 27  id_centro_titular           4040 non-null   int64
dtypes: float64(5), int64(5), object(18)
memory usage: 915.3+ KB

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040 entries, 0 to 4039
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   distrito_nombre             1703 non-null   object
 2   direccion_via_nombre        4039 non-null   object
 3   centro_tipo_descripcion     4040 non-null   object
 4   dat_codigo                  4040 non-null   int64
 5   direccion_codigo_postal     4019 non-null   float64
 6   centro_titularidad          4040 non-null   object
 7   contacto_telefono2          1719 non-null   object
 8   contacto_telefono3          217 non-null    object
 9   centro_tipo_desc_abreviada  4040 non-null   object
 10  direccion_numero            3962 non-null   object
 11  contacto_telefono1          3788 non-null   object
 12  centro_codigo               4040 non-null   int64
 13  contacto_web                3252 non-null   object
 14  dat_nombre                  4040 non-null   object
 15  centro_tipo_codigo          4040 non-null   int64
 16  municipio_nombre            4040 non-null   object
 17  distrito_codigo             1703 non-null   float64
 18  contacto_fax                2390 non-null   object
 19  direccion_coor_y            4022 non-null   float64
 20  centro_titular              4040 non-null   object
 21  direccion_coor_x            4022 non-null   float64
 22  direccion_via_tipo          4033 non-null   object
 23  centro_nombre               4040 non-null   object
 24  contacto_telefono4          51 non-null     object
 25  contacto_email1             3770 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 820.8+ KB

In [286]:
df_ct2.tail(20)

,municipio_codigo,distrito_nombre,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,...,distrito_codigo,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1,id_centro_titular
4020,79,Hortaleza,de Manoteras,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28050.0,PRIVADO,NaN,NaN,CPR FPE,...,16.0,NaN,4482120.0,"CORE NETWORK, S.L.",443591.0,AVDA,CORE NETWORKS,NaN,FP_COREMADRID@corenetworks.es,1620
4021,79,Moncloa-Aravaca,de los Vascos,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28040.0,PRIVADO,NaN,NaN,CPR FPE,...,9.0,NaN,4477799.0,"VOXEL SCHOOL, S.L.",439683.0,CALLE,VOXEL SCHOOL,NaN,NaN,1621
4022,79,Arganzuela,de las Canarias,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28045.0,PRIVADO,NaN,NaN,CPR FPE,...,2.0,NaN,4472630.0,"ACADEF FUTBOL, S.L. UNIPERSONAL",440813.0,CALLE,UNYVERSIA ACADEF FP,NaN,NaN,1622
4023,49,NaN,de Isaac Peral,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,3,28823.0,PRIVADO,NaN,NaN,CPR FPE,...,NaN,NaN,4476479.0,"JCR 31 FORMACION, S.L.",454591.0,CALLE,CFP JOSE MARTINEZ,NaN,NaN,1623
4024,79,Usera,Orovilla,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28041.0,PRIVADO,NaN,NaN,CPR FPE,...,12.0,NaN,4468698.0,"AVIATION TRAINING AND MAINTENANCE GROUP, S.L",441183.0,AVDA,AVIATION TRAINING AND MAINTENANCE GROUP,NaN,NaN,1624
4025,79,Tetuán,de las Mercedes,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28020.0,PRIVADO,NaN,NaN,CPR FPE,...,6.0,NaN,4478427.0,"ADALID SERVICIOS CORPORATIVOS, S.L",440555.0,CALLE,CENTRO DE FORMACION PROFESIONAL ASPASIA Y LAS ...,NaN,NaN,1625
4026,134,NaN,FORMENTERA,CENTRO AUTORIZADO PROFESIONAL DE DANZA,1,28703.0,PRIVADO,678355518,644306807,CAU PROF DANZA,...,NaN,NaN,4489537.0,"ALCALA Y FERNANDEZ, S.L",447142.0,CALLE,ESZENA DANZA,NaN,eszena@eszena.es,1626
4027,79,Villa de Vallecas,Eje Central - Polígono Industrial CTM,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28053.0,PRIVADO,673548999,NaN,CPR FPE,...,18.0,NaN,4468469.0,"AUTOESCUELA GALA, S.L.",444395.0,AVDA,CENTRO FP GALA,NaN,info@galaformacion.com,1627
4028,79,Hortaleza,Armonía,CENTRO AUTORIZADO DE ENSEÑANZAS DEPORTIVAS GRA...,5,28042.0,PRIVADO,NaN,NaN,CAU ENS.DEP.G.M,...,16.0,NaN,4478250.0,"ESCUELA TECNICO DEPORTIVA MIFRA, S.L.",448149.0,CALLE,MIFRA,NaN,NaN,1628
4029,79,Retiro,de Valores,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28007.0,PRIVADO,NaN,NaN,CPR FPE,...,3.0,NaN,4473952.0,"UPGRADE UP, S.L.",443309.0,CALLE,UPGRADE HUB,NaN,NaN,1629
4030,79,Moncloa-Aravaca,de Pablo Iglesias,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28039.0,PRIVADO,911177080,NaN,CPR FPE,...,9.0,NaN,4477999.0,"INICIATIVAS EUROPEAS DE FORMACION, S.L. EUROFO...",439731.0,AVDA,EUROFORMAC FP,NaN,direccion.madrid@fpeuroformac.com,1630
4031,79,Hortaleza,de Silvano,CENTRO PRIVADO DE EDUCACIÓN INFANTIL,5,28043.0,PRIVADO,NaN,NaN,CPR INF,...,16.0,NaN,4479274.0,"BOREAL DREAMING TOGETHER, S.L.",447015.0,CALLE,BOREAL DREAMING TOGETHER,NaN,NaN,1631
4032,134,NaN,Toledo,ESCUELA INFANTIL PRIVADA,1,28701.0,PRIVADO,NaN,NaN,EIPR,...,NaN,NaN,4488865.0,"ESCUELA EL PALOMAR, S.L.",447067.0,CALLE,EL PALOMAR,NaN,NaN,1632
4033,7,NaN,San José,ESCUELA INFANTIL PRIVADA,2,28921.0,PRIVADO,NaN,NaN,EIPR,...,NaN,NaN,4466885.0,"CEI BABYSTEPS, S.L.",429972.0,CALLE,BABYSTEPS,NaN,NaN,1633
4034,79,Salamanca,Marqués de Salamanca,ESCUELA INFANTIL,5,28006.0,PÚBLICO,NaN,NaN,EEI,...,4.0,NaN,4475763.0,"MINISTERIO DE ASUNTOS EXTERIORES,UNION EUROPEA...",442394.0,PLAZA,ESCUELA INFANTIL MAEC,NaN,NaN,1634
4035,79,Chamberí,de Magallanes,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28015.0,PRIVADO,NaN,NaN,CPR FPE,...,7.0,NaN,4475984.0,"CORPORACION VERTICE 1979, S.L.",440169.0,CALLE,CENTRO DE FORMACION VERTICE,NaN,NaN,1635
4036,79,Chamartín,Alfonso Rodríguez Santamaría,CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍ...,5,28002.0,PRIVADO,NaN,NaN,CPR FPE,...,5.0,NaN,4477852.0,"CENTRO UNIVERSITARIO IES DE NEGOCIOS, INNOV. Y...",441893.0,CALLE,"CENTRO DE EDUCACION SUPERIOR DE NEGOCIOS, INNO...",NaN,NaN,1636
4037,79,Chamartín,de Colombia,CENTRO DOCENTE EXTRANJERO EN ESPAÑA,5,28016.0,PRIVADO,NaN,NaN,CEXTRAN ESP,...,5.0,NaN,4478670.0,"SIXTH FORM XXI, S.L.",443091.0,CALLE,SIXTH FORM 21 (BRITANICO),NaN,NaN,1637
4038,14,NaN,del Niño Jesús,EQUIPO DE ORIENTACIÓN EDUCATIVA Y PSICOPEDAGÓG...,3,28500.0,PÚBLICO,NaN,NaN,EOEP GENERAL,...,NaN,NaN,NaN,COMUNDAD DE MADRID,NaN,NaN,EQUIPO GENERAL ARGANDA DEL REY,NaN,eoep.arganda@educa.madrid.org,1638
4039,79,NaN,NaN,CENTRO DOCENTE EN EL EXTRANJERO,5,NaN,PÚBLICO,NaN,NaN,C. DOC. EN EXTRANJ.,...,NaN,NaN,NaN,"MINISTERIO DE EDUCACION, CULTURA Y DEPORTE",NaN,NaN,CENTRO DOCENTE EN EL EXTRANJERO,NaN,NaN,1639

In [290]:
#DIMENSIÓN: DAT
df_dat= df[['dat_codigo','dat_nombre']]
df_dat= df_dat.drop_duplicates()
df_dat= df_dat.reset_index(drop=True)
#df_dat.reset_index(level=0, inplace=True)
#df_dat['index']+=1
#df_dat=df_dat.rename(columns={'dat_codigo':'id_dat'})

In [291]:
df_dat

   dat_codigo      dat_nombre
0           3     Madrid-Este
1           2      Madrid-Sur
2           1    Madrid-Norte
3           4    Madrid-Oeste
4           5  Madrid-Capital

In [273]:
# df3= pd.merge(df, df_dat,on="dat_codigo")
# df3.head()

In [264]:
df_municipios= df[['municipio_codigo','municipio_nombre', 'direccion_codigo_postal']]
df_municipios= df_municipios.drop_duplicates()
df_municipios= df_municipios.reset_index(drop=True)
df_municipios.reset_index(level=0, inplace=True)
df_municipios['index']+=1
df_municipios=df_municipios.rename(columns={'index':'id_municipio'})
df_municipios

,id_municipio,municipio_codigo,municipio_nombre,direccion_codigo_postal
0,1,2,Ajalvir,28864.0
1,2,4,"Álamo, El",28607.0
2,3,5,Alcalá de Henares,28806.0
3,4,5,Alcalá de Henares,28801.0
4,5,5,Alcalá de Henares,28800.0
...,...,...,...,...
305,306,58,Fuenlabrada,28946.0
306,307,106,Parla,NaN
307,308,113,Pinto,NaN
308,309,68,Guadarrama,NaN
309,310,161,Valdemoro,28241.0

In [201]:
#DIMENSIÓN: UBICACIÓN
#En esta dimensión no es necesaria
''''df_ubicacion= df[['direccion_via_tipo', 'direccion_via_nombre',\
                  'direccion_numero', 'direccion_coor_x', 'direccion_coor_y']]
df_ubicacion= df_ubicacion.drop_duplicates()
df_ubicacion= df_ubicacion.reset_index(drop=True)
df_ubicacion.reset_index(level=0, inplace=True)
df_ubicacion['index']+=1
df_ubicacion=df_ubicacion.rename(columns={'index':'id_ubicacion'})

df_ubicacion'''

"'df_ubicacion= df[['direccion_via_tipo', 'direccion_via_nombre',                  'direccion_numero', 'direccion_coor_x', 'direccion_coor_y']]\ndf_ubicacion= df_ubicacion.drop_duplicates()\ndf_ubicacion= df_ubicacion.reset_index(drop=True)\ndf_ubicacion.reset_index(level=0, inplace=True)\ndf_ubicacion['index']+=1\ndf_ubicacion=df_ubicacion.rename(columns={'index':'id_ubicacion'})\n\ndf_ubicacion"

In [23]:
#PROBLLEMAS
#nulos en el codigo postal, numero,
#nulos en distrito codigo y nombre, elimino columna
#Tildes

In [204]:
df.head(4)

,municipio_codigo,distrito_nombre,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,...,municipio_nombre,distrito_codigo,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1
0,2,NaN,Víctor Hurtado,"COLEGIO DE EDUCACIÓN INFANTIL, PRIMARIA Y SECU...",3,28864.0,PÚBLICO,NaN,NaN,CP INF-PRI-SEC,...,Ajalvir,NaN,918844211,4487797.0,COMUNIDAD DE MADRID,458832.0,CALLE,SAN BLAS,NaN,cp.sanblas.ajalvir@educa.madrid.org
1,4,NaN,del Río Alagón,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,2,28607.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,"Álamo, El",NaN,918122834,4453703.0,COMUNIDAD DE MADRID,415961.0,CALLE,EL ALAMO,NaN,cp.elalamo.elalamo@educa.madrid.org
2,5,NaN,San Ignacio de Loyola,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28806.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918882368,4482313.0,COMUNIDAD DE MADRID,468386.0,CALLE,ANTONIO DE NEBRIJA,NaN,cp.antoniodenebrija.alcala@educa.madrid.org
3,5,NaN,San Juan,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28801.0,PÚBLICO,615303251,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918837578,4481259.0,COMUNIDAD DE MADRID,468658.0,CALLE,CARDENAL CISNEROS,NaN,cp.cardenalcisnero.alcala@educa.madrid.org

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040 entries, 0 to 4039
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   distrito_nombre             1703 non-null   object
 2   direccion_via_nombre        4039 non-null   object
 3   centro_tipo_descripcion     4040 non-null   object
 4   dat_codigo                  4040 non-null   int64
 5   direccion_codigo_postal     4019 non-null   float64
 6   centro_titularidad          4040 non-null   object
 7   contacto_telefono2          1719 non-null   object
 8   contacto_telefono3          217 non-null    object
 9   centro_tipo_desc_abreviada  4040 non-null   object
 10  direccion_numero            3962 non-null   object
 11  contacto_telefono1          3788 non-null   object
 12  centro_codigo               4040 non-null   int64
 13  contacto_web                3252 non-null   object
 14  dat_nombre                  4040 non-null   object
 15  centro_tipo_codigo          4040 non-null   int64
 16  municipio_nombre            4040 non-null   object
 17  distrito_codigo             1703 non-null   float64
 18  contacto_fax                2390 non-null   object
 19  direccion_coor_y            4022 non-null   float64
 20  centro_titular              4040 non-null   object
 21  direccion_coor_x            4022 non-null   float64
 22  direccion_via_tipo          4033 non-null   object
 23  centro_nombre               4040 non-null   object
 24  contacto_telefono4          51 non-null     object
 25  contacto_email1             3770 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 820.8+ KB

In [213]:
#df['id_tipo_centro'] = df_tipo_centro["id_tipo_centro"].apply(lambda x:)
#df['id_tipo_centro'] = df.apply(lambda x: df_tipo_centro["id_tipo_centro"])
df.insert(loc=16, column='id_tipo_centro', value=df_tipo_centro['id_tipo_centro'])

In [214]:
df.head()

,municipio_codigo,distrito_nombre,direccion_via_nombre,centro_tipo_descripcion,dat_codigo,direccion_codigo_postal,centro_titularidad,contacto_telefono2,contacto_telefono3,centro_tipo_desc_abreviada,...,municipio_nombre,distrito_codigo,contacto_fax,direccion_coor_y,centro_titular,direccion_coor_x,direccion_via_tipo,centro_nombre,contacto_telefono4,contacto_email1
0,2,NaN,Víctor Hurtado,"COLEGIO DE EDUCACIÓN INFANTIL, PRIMARIA Y SECU...",3,28864.0,PÚBLICO,NaN,NaN,CP INF-PRI-SEC,...,Ajalvir,NaN,918844211,4487797.0,COMUNIDAD DE MADRID,458832.0,CALLE,SAN BLAS,NaN,cp.sanblas.ajalvir@educa.madrid.org
1,4,NaN,del Río Alagón,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,2,28607.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,"Álamo, El",NaN,918122834,4453703.0,COMUNIDAD DE MADRID,415961.0,CALLE,EL ALAMO,NaN,cp.elalamo.elalamo@educa.madrid.org
2,5,NaN,San Ignacio de Loyola,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28806.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918882368,4482313.0,COMUNIDAD DE MADRID,468386.0,CALLE,ANTONIO DE NEBRIJA,NaN,cp.antoniodenebrija.alcala@educa.madrid.org
3,5,NaN,San Juan,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28801.0,PÚBLICO,615303251,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918837578,4481259.0,COMUNIDAD DE MADRID,468658.0,CALLE,CARDENAL CISNEROS,NaN,cp.cardenalcisnero.alcala@educa.madrid.org
4,5,NaN,Giner de los Ríos,COLEGIO DE EDUCACIÓN INFANTIL Y PRIMARIA,3,28800.0,PÚBLICO,NaN,NaN,CP INF-PRI,...,Alcalá de Henares,NaN,918816276,4481511.0,COMUNIDAD DE MADRID,469547.0,CALLE,CERVANTES,NaN,cp.cervantes.alcala@educa.madrid.org

      id_tipo_centro  id_tipo_centro_left
0               71.0                  1.0
1               15.0                  2.0
2               15.0                  3.0
3               15.0                  4.0
4               15.0                  5.0
...              ...                  ...
4035             NaN                  NaN
4036             NaN                  NaN
4037             NaN                  NaN
4038            39.0                  NaN
4039             NaN                  NaN

[4040 rows x 2 columns]

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040 entries, 0 to 4039
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   municipio_codigo            4040 non-null   int64
 1   distrito_nombre             1703 non-null   object
 2   direccion_via_nombre        4039 non-null   object
 3   centro_tipo_descripcion     4040 non-null   object
 4   dat_codigo                  4040 non-null   int64
 5   direccion_codigo_postal     4019 non-null   float64
 6   centro_titularidad          4040 non-null   object
 7   contacto_telefono2          1719 non-null   object
 8   contacto_telefono3          217 non-null    object
 9   centro_tipo_desc_abreviada  4040 non-null   object
 10  direccion_numero            3962 non-null   object
 11  contacto_telefono1          3788 non-null   object
 12  centro_codigo               4040 non-null   int64
 13  contacto_web                3252 non-null   object
 14  dat_nombre                  4040 non-null   object
 15  centro_tipo_codigo          4040 non-null   int64
 16  id_tipo_centro              72 non-null     float64
 17  municipio_nombre            4040 non-null   object
 18  distrito_codigo             1703 non-null   float64
 19  contacto_fax                2390 non-null   object
 20  direccion_coor_y            4022 non-null   float64
 21  centro_titular              4040 non-null   object
 22  direccion_coor_x            4022 non-null   float64
 23  direccion_via_tipo          4033 non-null   object
 24  centro_nombre               4040 non-null   object
 25  contacto_telefono4          51 non-null     object
 26  contacto_email1             3770 non-null   object
dtypes: float64(5), int64(4), object(18)
memory usage: 852.3+ KB

In [ ]:
df_fact=ps.concat([])

In [24]:
df_ubicacion.to_csv('./df_ubicacion.csv', index=False)

In [25]:
df_dat.to_csv('./df_dat.csv', index=False)

In [26]:
df_titularidad.to_csv('./df_titularidad.csv', index=False)

In [29]:
df_tipo_centro.to_csv('./df_tipo_centro.csv,', index=False)

In [30]:
df.to_csv('./df.csv,', index=False)